* {
    font-family: JetBrainsMono;
    color: #e5e9f0;
    background: transparent;
  }
  
  #window {
    background: rgba(10, 15, 39, 0.918);
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #6989bd;
  }
  
  #input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  #outer-box {
    padding: 20px;
  }
  
  #img {
    margin-right: 6px;
  }
  
  #entry {
    padding: 10px;
    border-radius: 5px;
  }
  
  #entry:selected {
    background-color: #2b3549;
  }
  
  #text {
    margin: 2px;
  }
